<div class="content-wrapper" style="min-height: 1135.6px">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Adicionar Item</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right"></ol>
        </div>
      </div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title"></h3>
          </div>

          <form>
            <div class="card-body">
              @if (loading) {
              <div class="d-flex justify-content-center">
                <div
                  style="width: 5rem; height: 5rem"
                  class="spinner-border"
                  role="status"
                ></div>
              </div>
              } @if (!loading) {
              <div class="form-group">
                <label for="exampleInputEmail1">Nome</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                />
                <div
                  data-lastpass-icon-root=""
                  style="
                    position: relative !important;
                    height: 0px !important;
                    width: 0px !important;
                    float: left !important;
                  "
                ></div>
              </div>
              }
            </div>

            <div class="card-footer">
              <button type="submit" class="btn btn-info">Salvar</button>
              <a
                type="button"
                [routerLink]="['/sample']"
                routerLinkActive="router-link-active"
                class="btn btn-default float-right"
              >
                Cancelar
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
