<div class="login-page">
  <div class="login-box">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a [routerLink]="['/']" routerLinkActive="router-link-active" class="h1"
          ><b>Admin</b>BO</a
        >
      </div>
      <div class="card-body">
        @if (loading) {
        <div class="d-flex justify-content-center">
          <div
            style="width: 5rem; height: 5rem"
            class="spinner-border"
            role="status"
          ></div>
        </div>
        } @if(!loading){
          <p class="login-box-msg">Entrar para Iniciar Sessão</p>

        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" method="post">
          <div class="form-group mb-2">
            <label for="email">Email ou Telefone</label>
            <input formControlName="name" type="text" class="form-control" />
          </div>

          <div class="form-group mb-2">
            <label for="exampleInputEmail1">Palavra-passe</label>
            <input
              formControlName="password"
              type="password"
              class="form-control"
            />
          </div>

          <div class="row mb-2">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block">
                Iniciar sessão
              </button>
            </div>
          </div>
        </form>
        }

        <p class="mb-1">
          <a href="forgot-password.html">Esqueci a palavra-passe</a>
        </p>
        <p class="mb-0">
          <a
            [routerLink]="['/register']"
            routerLinkActive="router-link-active"
            class="text-center"
            >Novo registro</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
